@charset "utf-8";

.info_wrap .title{
    height: 60px;
    margin: 15px 15px 0 15px;
    line-height: 30px;
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.info_wrap .title:after{
    content: "";
    display: block;
    width: 60px;
    height: 30px;
    background: url(../images/common/bg_text_overflow.png) no-repeat;
    background-size: 100%;
    bottom: 0;
    right: 0;
    z-index: 15;
    position: absolute;
}
.info_wrap .sub_title{
    font-size: 25px;
    font-weight: 200;
    margin: 0 15px 15px 15px;
}
.info_wrap dl{
    line-height: 40px;
    border-top: 1px solid #000;
}
.info_wrap dl dt{
    /*size is 135px*/
    width: 105px;
    margin: 0 15px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}
.info_wrap dl dd{
    /*original size is 675px*/
    width: 630px;
    padding-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid #000;
}

.picture_list{}
.picture_list li{
    padding: 17px 17px 0 17px;
    margin-right: 22px;
    margin-top: 22px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;
}
.picture_list li.mr0{
    margin-right: 0;
}
.picture_list li a{
    height: 100%;
    display: block;
}
.picture_list li a p{
    line-height: 50px;
    text-align: right;
    font-size: 15px;
}
.picture_list .image_wrap{
    /*original size is 345px X 300px*/
    width: 350px;
    height: 298px;
    border: 1px solid #000;
}
.text_wrap{
    margin-top: 25px;
    background-color: #fff;
    border: 1px solid #000;
}
.text_wrap .line{
    content: "";
    display: block;
    margin-top: 30px;
    height: 1px;
    margin-bottom: -1px;
    background-color: #000;
}
.text_wrap .text_box{
    padding: 15px;
    text-align: left;
    font-size: 18px;
}


.popup_background{
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
}
.popup_box{
    padding: 100px 50px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
    margin: 200px auto 0 auto;
    position: relative;
}
.popup_box .image_wrap{
    width: 870px;
    height: 450px;
}
.popup_box .button_wrap{
    width: 100%;
    height: 44px;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
}
.popup_box .button_close{
    top: 28px;
    right: 28px;
    position: absolute;
}
.popup_box .button_left{
    float: left;
    margin-left: 13px;
}
.popup_box .button_right{
    float: right;
    margin-right: 13px;
}

/*max width:768*/
@media screen and (max-width:768px) {
    .content_wrap .info_wrap{
        padding: 0;
        margin-bottom: 0;
    }
    .info_wrap .title{
        height: 14vw;
        margin: 2vw 2vw 0 2vw;
        line-height: 7vw;
        font-size: 5vw;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
    }
    .text_wrap .title:after{
        width: 10vw;
        height: 5vw;
    }
    .info_wrap .sub_title{
        font-size: 5vw;
        margin: 0 2vw 2vw 2vw;
    }
    .info_wrap dl{
        line-height: 10vw;
        border-top: 1px solid #000;
    }
    .info_wrap dl dt{
        width: calc(25% - 4vw);
        margin: 0 2vw;
        font-size: 3.5vw;
    }
    .info_wrap dl dd{
        /*original size is 675px*/
        width: calc(75% - 4vw - 1px);
        padding-left: 2vw;
        margin-right: 2vw;
        font-size: 3.5vw;
    }

    .picture_list{
        width: 100%;
    }
    .picture_list li{
        width: calc(50% - 5vw - 2px);
        padding: 2vw 2vw 0 2vw;
        margin-right: 2vw;
        margin-top: 4vw;
        display: inline-block;
        background-color: #fff;
        border: 1px solid #000;
    }
    .picture_list li.mr0{
        margin-right: 0;
    }
    .picture_list li a{
        height: 100%;
        display: block;
    }
    .picture_list li a p{
        line-height: normal;
        line-height: 10vw;
        font-size: 3vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .picture_list .image_wrap{
        width: 100%;
        height: 40vw;
        border: 1px solid #000;
    }
    
    .text_wrap{
        margin-top: 4vw;
    }
    .text_wrap .line{
        margin-top: 5vw;
    }
    .text_wrap .text_box{
        padding: 2vw;
        font-size: 3.5vw;
    }
    
    .popup_box{
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: rgba(0,0,0,0);
        top: 50%;
        margin-top: -45vw;
        left: 0;
        position: fixed;
    }
    .popup_box .image_wrap{
        width: 100vw;
        height: 80vw;
    }
    .popup_box .button_close{
        top: -10vw;
        right: 2vw;
        width: 8vw;
        height: 8vw;
        background-size: 100%;
    }
    .popup_box .button_wrap{
        width: auto;
        height: 8vw;
        margin: 0;
        top: 82vw;
        position: absolute;
    }
    .popup_box .button_left, .popup_box .button_right{
        width: 4vw;
        height: 8vw;
        display: inline-block;
        background-size: 100%;
        background-position: center;
    }
    .popup_box .button_wrap .button_left{
        float: none;
        margin: 0;
        margin-right: 10vw;
    }
    .popup_box .button_wrap .button_right{
        float: none;
        margin: 0;
    }
}
