@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
ul, dl, dt, dd {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #222;
}
.cf:after {
    content: "";
    display: block;
    clear: both;
}
img{
    border: 0;
}

select:focus{
    outline: 0;
}
input:focus{
    outline: 0;
}